.App {
  text-align: center;
}
body {
  background-color: #1a1b1f;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white
}
/* 1a1b1f */
/* #01402b */
/* smooth behaviour */
html {
  scroll-behavior: smooth;
}
/* display flex, space around */
.d-flex-j-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-flex-j-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.border-green {
  border: 1px solid #01402b;
}
.box-shadow {
  box-shadow: 1px 1px 2px 2px #01402b;
}
.padding-5 {
  padding: 5px;
}
.border-radius-10 {
  border-radius: 10px;
}
.font-size-18 {
  font-size: 18px !important;
}
.fonst-size-14 {
  font-size: 14px !important;
}
.mt-mb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}